* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------*/
@font-face {
  font-family: "Dancing Script";
  src: url("../fonts/DancingScript.woff2") format("woff2"), url("../fonts/DancingScript.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.opacity {
  opacity: 0;
}

body {
  font-family: "Dancing Script";
}

.wrapper {
  width: 100vw;
  position: relative;
}

.side-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(195, 192, 192);
  border-left: unset;
  -webkit-box-shadow: inset -5px -5px 5px rgb(195, 192, 192), inset 0 5px 5px rgb(195, 192, 192);
          box-shadow: inset -5px -5px 5px rgb(195, 192, 192), inset 0 5px 5px rgb(195, 192, 192);
  height: 100vh;
  width: 30%;
  position: fixed;
  left: -28%;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}
.side-bar:hover {
  left: 0;
  opacity: 1;
}
.side-bar .music-search {
  padding: 20px 0 10px 40px;
}
.side-bar .music-search .music-search-content h2 {
  margin-bottom: 5px;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 5px black;
}
.side-bar .music-search .music-search-content .search-input {
  outline: none;
  width: 200px;
  height: 23px;
  border-radius: 5px;
  padding: 0 15px;
  -webkit-transition: border-radius 0.5s, -webkit-box-shadow 0.2s;
  transition: border-radius 0.5s, -webkit-box-shadow 0.2s;
  -o-transition: box-shadow 0.2s, border-radius 0.5s;
  transition: box-shadow 0.2s, border-radius 0.5s;
  transition: box-shadow 0.2s, border-radius 0.5s, -webkit-box-shadow 0.2s;
}
.side-bar .music-search .music-search-content .search-input:hover {
  -webkit-box-shadow: 0px 0px 10px 4px white;
          box-shadow: 0px 0px 10px 4px white;
}
.side-bar .music-search .music-search-content .search-input:focus {
  border-radius: 25px;
}
.side-bar .music-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 15px 0;
  overflow-y: auto;
}
.side-bar .music-content::-webkit-scrollbar {
  -webkit-appearance: none;
          appearance: none;
  background-color: rgb(112, 104, 104);
  width: 6px;
  border-radius: 50px;
}
.side-bar .music-content::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
          appearance: none;
  background-color: rgb(247, 237, 237);
  border-radius: 50px;
  border: 2px solid rgb(112, 104, 104);
}
.side-bar .music-item {
  position: relative;
  left: 0;
  cursor: pointer;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 10px;
  margin-bottom: 20px;
  -webkit-transition: width 0.3s, left 0.4s, opacity 0.8s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: width 0.3s, left 0.4s, opacity 0.8s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  -o-transition: transform 0.3s, box-shadow 0.3s, width 0.3s, left 0.4s, opacity 0.8s;
  transition: transform 0.3s, box-shadow 0.3s, width 0.3s, left 0.4s, opacity 0.8s;
  transition: transform 0.3s, box-shadow 0.3s, width 0.3s, left 0.4s, opacity 0.8s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
}
.side-bar .music-item:hover {
  -webkit-transform: scaleY(103%);
      -ms-transform: scaleY(103%);
          transform: scaleY(103%);
  -webkit-box-shadow: 0px 0px 15px 4px white;
          box-shadow: 0px 0px 15px 4px white;
  width: 96%;
}
.side-bar .music-item.playing {
  cursor: default;
  -webkit-box-shadow: 0px 0px 15px 2px rgb(226, 214, 110);
          box-shadow: 0px 0px 15px 2px rgb(226, 214, 110);
  border: 2px solid rgb(225, 210, 126);
  width: 99%;
  -webkit-transform: scaleY(105%);
      -ms-transform: scaleY(105%);
          transform: scaleY(105%);
  margin: 30px 0;
}
.side-bar .music-item.searchIvent {
  left: -100%;
  opacity: 0;
}
.side-bar .music-info {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  color: azure;
  text-shadow: 0 0 5px black;
  font-size: 18px;
}
.side-bar .music-info h2 {
  margin-bottom: 5px;
}
.side-bar .music-from {
  font-size: 20px;
}
.side-bar .music-img {
  pointer-events: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.side-bar .music-img img {
  max-width: 150px;
}

.main-content {
  background: -webkit-gradient(linear, left top, right top, from(rgb(171, 102, 228)), color-stop(rgb(239, 75, 176)), to(rgb(238, 97, 66)));
  background: -o-linear-gradient(left, rgb(171, 102, 228), rgb(239, 75, 176), rgb(238, 97, 66));
  background: linear-gradient(90deg, rgb(171, 102, 228), rgb(239, 75, 176), rgb(238, 97, 66));
  height: 100vh;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.content {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-size: 60px;
  color: white;
  margin-bottom: 20px;
}

.timer-block {
  -webkit-transition: opacity 0.8s, left 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.8s, left 0.6s, -webkit-transform 0.6s;
  -o-transition: opacity 0.8s, transform 0.6s, left 0.6s;
  transition: opacity 0.8s, transform 0.6s, left 0.6s;
  transition: opacity 0.8s, transform 0.6s, left 0.6s, -webkit-transform 0.6s;
  width: 350px;
  height: 350px;
  background-color: aqua;
  border-radius: 50%;
  left: 0;
  position: relative;
  overflow: hidden;
}

.time-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.circle {
  pointer-events: none;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.circle-1 {
  background-color: rgb(98, 151, 160);
  -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
          transform-origin: center right;
}

.circle-2 {
  background-color: rgb(98, 151, 160);
  left: unset;
  right: 0;
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
}

.circle-3 {
  background-color: aqua;
  display: none;
}

.circle-cover {
  background-color: aqua;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.time {
  text-align: center;
  width: 200px;
  margin: 0 auto;
  background: white;
  border-radius: 100px;
  margin-top: 120px;
  position: relative;
  z-index: 10;
  padding: 10px;
}

.timer-status {
  font-size: 20px;
  font-weight: 700;
  color: rgb(46, 204, 212);
  cursor: pointer;
  max-width: 90px;
  margin: 0 auto 10px;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.timerTime {
  font-size: 40px;
  color: rgb(46, 204, 212);
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.btns {
  padding: 11px 20px;
  background-color: rgb(189, 142, 142);
  border-radius: 20px;
  position: relative;
}
.btns:hover {
  background-color: rgb(210, 168, 168);
}
.btns:active {
  top: 1px;
}

.timer-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  background-color: rgba(70, 66, 43, 0.821);
  padding: 10px 0;
  border-radius: 5px 5px 50% 50%;
}

.counter {
  text-align: center;
  font-size: 30px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(171, 102, 228)), color-stop(rgb(239, 75, 176)), to(rgb(238, 97, 66)));
  background: -o-linear-gradient(left, rgb(171, 102, 228), rgb(239, 75, 176), rgb(238, 97, 66));
  background: linear-gradient(90deg, rgb(171, 102, 228), rgb(239, 75, 176), rgb(238, 97, 66));
  border-radius: 50%;
  width: 70px;
  height: 40px;
  line-height: 40px;
}

.music-controls-root {
  position: relative;
  bottom: -25px;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.music-controls-root:hover {
  bottom: 0;
  opacity: 1;
}

.music-controls {
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.674);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 150px;
          flex: 0 1 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid black;
}

.music-PnS-btn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.674);
  border-radius: 50%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}
.music-PnS-btn i {
  pointer-events: none;
}
.music-PnS-btn:hover {
  -webkit-box-shadow: 0 0 35px rgb(255, 240, 167);
          box-shadow: 0 0 35px rgb(255, 240, 167);
}
.music-PnS-btn:active {
  -webkit-transform: scale(95%);
      -ms-transform: scale(95%);
          transform: scale(95%);
}

.music-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.music-time .music-time-item + .music-time-item {
  margin-left: 15px;
}

.slider-container {
  position: relative;
}

.time-slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 250px;
  height: 6px;
  background-color: white;
  outline: none;
  border: 1px solid rgb(4, 4, 33);
}
.time-slider::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
          appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgb(4, 4, 33);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.time-slider::-webkit-slider-thumb:hover {
  -webkit-box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.105);
          box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.105);
}
.time-slider::-webkit-slider-thumb:active {
  -webkit-box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.105);
          box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.105);
}

.time-progress {
  pointer-events: none;
  display: block;
  position: absolute;
  left: 0px;
  top: 6px;
  width: 0%;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.236);
}

.music-volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}